* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  height: 100vh;
}

.tool {
  background: rgb(90, 118, 179);
  display: flex;
  align-items: center;
}

.tool > * {
  height: 40px;
  width: 40px;
  background: white;
  margin: 5px;
  font-size: 20px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
  border: none;
}

.save {
  margin-left: auto;
  color: black;
}
a {
  text-decoration: none;
}

canvas {
  border: 1px solid black;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
