@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #8cc84c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--primary-color);
  font-family: "Poppins";
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.wrapper {
  background: white;
  border-radius: 10px;
  width: 450px;
  padding: 20px;
}

.title {
  font-size: 22px;
}

.content {
  border: 1px solid;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  border-radius: 5px;
}

.content li {
  background: var(--primary-color);
  color: white;
  border-radius: 3px;
  list-style: none;
  margin: 4px 3px;
  padding: 5px;
}

.content li i {
  cursor: pointer;
  font-size: 16px;
  margin-left: 5px;
}

.content input {
  border: none;
  outline: none;
  font-size: 20px;
  margin: 10px;
  flex: 1;
}

.remove-all {
  background: var(--primary-color);
  color: white;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 20px;
}
