* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background: #dadada;
  display: flex;
  justify-content: center;
  align-items: center;
}

.zoomer img {
  width: 500px;
  height: 500px;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  cursor: none;
}

.mirror {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-image: url("1.JPG");
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.hide {
  display: none;
}
